@charset "UTF-8";
@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../font/NotoSansKR-Black.woff);
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jalnan";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../font/NotoSerifKR-Regular.woff);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../font/modal/Lato-Regular.woff);
}
@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url(../font/modal/SANGJU\ Gyeongcheon\ Island.woff);
}
@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../font/NotoSansKR-Black.woff);
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jalnan";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../font/NotoSerifKR-Regular.woff);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../font/modal/Lato-Regular.woff);
}
@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: url(../font/modal/SANGJU\ Gyeongcheon\ Island.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: black;
  color: white;
  cursor: url(../img/cursor/circle-cursor.png), auto;
  transition: cursor 13s ease-in-out;
  transition-duration: 0.8s;
  word-break: keep-all;
  font-size: 16px;
  font-family: "NanumSquareRound";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  cursor: url(../img/cursor/circle-cursor-pointer.png), auto;
  color: white;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 4.38em;
}

h2 {
  font-size: 0;
}

h3 {
  font-family: "Jalnan";
  font-size: 3em;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Jalnan";
}

p {
  font-size: 1em;
  line-height: 1.6;
}

@media screen and (min-width: 1024px) {
  body {
    overflow: hidden;
  }
}

header {
  width: 100%;
}
header .header {
  display: flex;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  header .header {
    height: 0;
  }
}
header .header .title-nav {
  position: fixed;
  top: 50px;
  width: 95%;
}
@media screen and (min-width: 1024px) {
  header .header .title-nav {
    top: 25%;
    left: calc(2.5% + 3rem);
    height: 0;
  }
}
header .header .title-nav h1 {
  font-size: 0;
}
header .header .title-nav nav {
  position: relative;
}
header .header .title-nav nav .gnb {
  display: flex;
  z-index: 10;
  height: 40px;
  flex-direction: row;
  background-color: rgba(204, 204, 204, 0.4392156863);
  line-height: 40px;
  backdrop-filter: blur(2px);
}
@media screen and (min-width: 1024px) {
  header .header .title-nav nav .gnb {
    width: 150px;
    flex-direction: column;
    background-color: transparent;
  }
}
header .header .title-nav nav .gnb li {
  width: 25%;
}
@media screen and (min-width: 1024px) {
  header .header .title-nav nav .gnb li {
    margin-bottom: 10px;
  }
}
header .header .title-nav nav .gnb li a {
  width: 100%;
  font-family: "Jalnan";
  text-align: center;
}
@media screen and (min-width: 1024px) {
  header .header .title-nav nav .gnb li a {
    text-align: left;
  }
}

main {
  width: 100%;
  height: 100%;
}
main .sect {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}
@media screen and (min-width: 1024px) {
  main .sect {
    height: 100vh;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
main .sect .fade-out {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100vh;
  background-color: black;
  animation: fadeOut 5s;
  animation-fill-mode: forwards;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  text-align: center;
  overflow: hidden;
}
main .sect .fade-out h4 {
  width: 100%;
  font-size: 30px;
  color: white;
  font-family: "NanumSquareRound";
  background-color: black;
  animation: fadeOut 5s;
}
@media screen and (min-width: 1024px) {
  main .sect .fade-out h4 {
    font-size: 60px;
  }
}
main .sect .container {
  position: relative;
  width: 95%;
  height: 90%;
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  main .sect .container {
    padding: 3rem;
  }
}
main .sect .container .subTitle {
  margin-bottom: 160px;
}
@media screen and (min-width: 1024px) {
  main .sect .container .subTitle {
    margin-bottom: 0;
  }
}
main .sect .home {
  position: relative;
}
main .sect .home .introduce {
  width: 100%;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  main .sect .home .introduce {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3rem;
  }
}
main .sect .home .introduce .blue {
  color: #47a3d2;
}
main .sect .home .introduce .yellow {
  color: #fbc22b;
}
main .sect .home .introduce .green {
  color: #8ce33e;
}
main .sect .home .introduce h4 {
  margin-bottom: 30px;
  font-family: "NanumSquareRound";
}
@media screen and (min-width: 1024px) {
  main .sect .home .introduce h4 {
    font-size: 3.5rem;
  }
}
main .sect .home .introduce p {
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  main .sect .home .introduce p {
    font-size: 1.3rem;
  }
}
main .sect .home .introduce .mobIntro {
  display: block;
}
@media screen and (min-width: 768px) {
  main .sect .home .introduce .mobIntro {
    display: none;
  }
}
main .sect .home .introduce .pcIntro {
  display: none;
}
@media screen and (min-width: 768px) {
  main .sect .home .introduce .pcIntro {
    display: block;
  }
}
main .sect .home .introduce .big {
  font-size: 2.5rem;
}
@media screen and (min-width: 1024px) {
  main .sect .home .introduce .big {
    font-size: 4rem;
  }
}
main .sect .home .scroll-down {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .sect .home .scroll-down {
    display: block;
    position: absolute;
    right: 0;
    bottom: 5%;
    left: 0;
    width: 34px;
    height: 55px;
    margin: 0 auto;
  }
}
main .sect .home .scroll-down .mousey {
  width: 3px;
  height: 35px;
  padding: 7px 12px;
  border-radius: 25px;
  border: 2px solid #fff;
  box-sizing: content-box;
}
main .sect .home .scroll-down .mousey .scroller {
  width: 3px;
  height: 8px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
@keyframes downup {
  0% {
    opacity: 0;
    transform: translateY(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0, 0);
  }
}
@keyframes bounce {
  from, to {
    margin-bottom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    margin-bottom: 8px;
    animation-timing-function: ease-out;
  }
}
main .sect .about {
  position: relative;
}
main .sect .about .slide-para {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para {
    flex-direction: row;
  }
}
main .sect .about .slide-para .slidewrapper {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  order: 2;
  line-height: 3;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .slidewrapper {
    width: 800px;
    height: 600px;
    order: 1;
  }
}
main .sect .about .slide-para .slidewrapper .move-box {
  display: flex;
  position: absolute;
  left: 0;
  width: 300px;
  height: 400px;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .slidewrapper .move-box {
    width: 800px;
    height: 600px;
  }
}
main .sect .about .slide-para .slidewrapper .move-box .slides {
  display: flex;
  width: fit-content;
}
main .sect .about .slide-para .slidewrapper .move-box .slides .slideCont {
  text-align: center;
}
main .sect .about .slide-para .slidewrapper .move-box .slides .slideCont h4 {
  font-size: 24px;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .slidewrapper .move-box .slides .slideCont h4 {
    font-size: 40px;
  }
}
main .sect .about .slide-para .slidewrapper .move-box .slides .slideCont .slideImg {
  width: 300px;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .slidewrapper .move-box .slides .slideCont .slideImg {
    width: 800px;
  }
}
main .sect .about .slide-para .slidewrapper .move-box .slides .slideCont .slideImg img {
  width: 200px;
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .slidewrapper .move-box .slides .slideCont .slideImg img {
    width: 300px;
    margin: 30px 0;
  }
}
main .sect .about .slide-para .slidewrapper .move-box .slides .slideCont p {
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .slidewrapper .move-box .slides .slideCont p {
    font-size: 16px;
  }
}
main .sect .about .slide-para .para {
  display: flex;
  order: 1;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .para {
    width: 40%;
  }
}
main .sect .about .slide-para .para .blue {
  color: #47a3d2;
}
main .sect .about .slide-para .para .yellow {
  color: #fbc22b;
}
main .sect .about .slide-para .para .green {
  color: #8ce33e;
}
main .sect .about .slide-para .para .skills {
  order: 2;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .para .skills {
    order: 1;
  }
}
main .sect .about .slide-para .para .learning {
  order: 1;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .para .learning {
    order: 2;
  }
}
main .sect .about .slide-para .para .learning .deal {
  order: 2;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .para .learning .deal {
    order: 1;
  }
}
main .sect .about .slide-para .para .learning .place {
  order: 1;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .para .learning .place {
    order: 2;
  }
}
main .sect .about .slide-para .para h4,
main .sect .about .slide-para .para p {
  margin-bottom: 30px;
}
main .sect .about .slide-para .para p {
  font-size: 14px;
  line-height: 3;
}
@media screen and (min-width: 1024px) {
  main .sect .about .slide-para .para p {
    font-size: 16px;
    line-height: 2;
  }
}
main .sect .about .slide-para .para p .skill {
  cursor: url(../img/cursor/circle-cursor-pointer.png), auto;
}
main .sect .project {
  position: relative;
}
main .sect .project .mobile-project {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main .sect .project .mobile-project {
    display: none;
  }
}
main .sect .project .mobile-project li {
  padding: 30px;
  font-size: 40px;
  font-family: "Jalnan";
  cursor: url(../img/cursor/circle-cursor-pointer.png), auto;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
main .sect .project .mobile-project li:hover {
  color: rgba(255, 255, 255, 0.5);
}
main .sect .project #mainPoint {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .sect .project #mainPoint {
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 3;
    padding: 10px 30px;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: white;
    font-size: 1.5rem;
    color: black;
    cursor: url(../img/cursor/circle-cursor-pointer.png), auto;
    transition: all 0.5s ease-in;
    letter-spacing: 0.1em;
  }
}
main .sect .project #wrap {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .sect .project #wrap {
    display: block;
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 5% auto 0;
  }
}
main .sect .project #wrap .point {
  display: flex;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.2s ease;
  color: black;
  font-family: "Jalnan";
  align-items: center;
  justify-content: center;
  cursor: url(../img/cursor/circle-cursor-pointer.png), auto;
  transition: all 0.5s;
}
main .sect .project #wrap .point:hover {
  z-index: 100;
  transform: scale(1.2);
}
main .sect .project .hidden {
  display: none;
}
main .sect .project .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
main .sect .project .modal .modal-content {
  position: relative;
  z-index: 1000;
  width: 90%;
  height: auto;
  margin: 3% auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}
@media screen and (min-width: 1024px) {
  main .sect .project .modal .modal-content {
    width: 60%;
  }
}
@-webkit-keyframes animatetop {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
main .sect .project .modal .modal-content img {
  width: 100%;
}
main .sect .project .modal .modal-content #close {
  position: fixed;
  z-index: 10000;
  cursor: url(../img/cursor/circle-cursor-pointer.png), auto;
  font-size: 30px;
}
main .sect .project .modal .modal-content h3 {
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  main .sect .project .modal .modal-content h3 {
    font-size: 3rem;
  }
}
main .sect .project .modal .modal-content h4 {
  font-size: 1.2rem;
}
@media screen and (min-width: 1024px) {
  main .sect .project .modal .modal-content h4 {
    font-size: 1.5em;
  }
}
main .sect .project .modal .modal-content h3,
main .sect .project .modal .modal-content h4,
main .sect .project .modal .modal-content p {
  color: black;
  margin-bottom: 5%;
}
main .sect .project .modal .modal-content .modal-header {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}
main .sect .project .modal .modal-content .modal-header img {
  width: 100%;
}
main .sect .project .modal .modal-content .modal-header .logo-h3 {
  position: absolute;
  top: 30%;
  width: 50%;
}
main .sect .project .modal .modal-content .modal-header .logo-h3 img {
  width: 100%;
  margin-bottom: 3%;
}
main .sect .project .modal .modal-content .modal-header .logo-h3 .view {
  display: flex;
  justify-content: center;
}
main .sect .project .modal .modal-content .modal-header .logo-h3 .view a {
  margin: 3%;
  padding: 2% 5%;
  color: black;
  border: 2px solid black;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  font-family: "Jalnan";
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  main .sect .project .modal .modal-content .modal-header .logo-h3 .view a {
    font-size: 18px;
  }
}
main .sect .project .modal .modal-content .modal-header .logo-h3 .view a:hover {
  background-color: black;
  color: white;
}
main .sect .project .modal .modal-content .modal-main {
  position: relative;
  width: 100%;
}
main .sect .project .modal .modal-content .modal-main img {
  width: 100%;
}
main .sect .project .modal .modal-content .modal-main section {
  margin-bottom: 10%;
}
main .sect .project .modal .modal-content .modal-main .pic {
  margin-bottom: 5%;
}
main .sect .project .modal .modal-content .modal-main .coor-main-font {
  font-family: "Lato-Regular";
}
main .sect .project .modal .modal-content .modal-main .coor-sub-font {
  font-family: "맑은 고딕";
}
main .sect .project .modal .m1 {
  background-image: url(../img/modal/jujery/jujery-background.png);
}
main .sect .project .modal .m1 .logo-h3 h3 {
  font-size: 40px;
  font-family: "SANGJU Gyeongcheon Island";
}
@media screen and (min-width: 1024px) {
  main .sect .project .modal .m1 .logo-h3 h3 {
    font-size: 100px;
  }
}
main .sect .project .modal .m1 img {
  margin-bottom: 5%;
}
main .sect .project .modal .m1 p {
  line-height: 2;
}
main .sect .project .modal .m1 .concept-wrap img {
  margin-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  main .sect .project .modal .m1 .concept-wrap img {
    width: 80%;
  }
}
main .sect .project .modal .m1 .font {
  width: 60%;
}
@media screen and (min-width: 1024px) {
  main .sect .project .modal .m1 .font {
    width: 40%;
  }
}
main .sect .project .modal .m1 .font .jujery-main-font {
  margin-bottom: 10%;
}
main .sect .project .modal .m2 {
  background-color: #ccc;
}
main .sect .project .modal .m2 img {
  margin-bottom: 5%;
}
main .sect .project .modal .m2 p {
  line-height: 2;
}
main .sect .project .modal .m2 .logo-h3 h3 {
  color: #fff;
  font-size: 50px;
}
@media screen and (min-width: 1024px) {
  main .sect .project .modal .m2 .logo-h3 h3 {
    font-size: 100px;
  }
}
main .sect .project .modal .m2 .logo-h3 .view {
  display: flex;
  width: 50%;
  color: #fff;
  flex-direction: column;
}
main .sect .project .modal .m3 .logo-h3 h3 {
  font-size: 50px;
}
@media screen and (min-width: 1024px) {
  main .sect .project .modal .m3 .logo-h3 h3 {
    font-size: 100px;
  }
}
main .sect .project .modal .m3 .video {
  width: 100%;
}
main .sect .project .modal .m3 .video video {
  width: 100%;
}
main .sect .project .modal .m4 {
  background-color: #f9f8ef;
}
main .sect .project .modal .m4 .logo-h3 h3 {
  font-size: 50px;
}
@media screen and (min-width: 1024px) {
  main .sect .project .modal .m4 .logo-h3 h3 {
    font-size: 100px;
  }
}
main .sect .project .modal .m4 .video {
  width: 100%;
}
main .sect .project .modal .m4 .video video {
  width: 100%;
}
main .sect .project .modal .modal-open {
  overflow: hidden;
}
main .sect .contact {
  position: relative;
  height: 600px;
}
@media screen and (min-width: 1024px) {
  main .sect .contact {
    height: 90%;
  }
}
main .sect .contact .conta {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  main .sect .contact .conta {
    width: 100%;
  }
}
main .sect .contact .card-pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .sect .contact .card-pc {
    display: block;
    position: relative;
    width: 700px;
    height: 350px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: url(../img/cursor/circle-cursor-pointer.png), auto;
    perspective: 1000px;
    background-color: #626262;
  }
}
main .sect .contact .card-pc .before-flip,
main .sect .contact .card-pc .after-flip {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
main .sect .contact .card-pc .before-flip h4 {
  font-size: 80px;
}
main .sect .contact .card-pc .after-flip {
  padding: 35px;
  transform: rotateY(180deg);
}
main .sect .contact .card-pc .after-flip .intro {
  width: 60%;
}
main .sect .contact .card-pc .after-flip .intro h4 {
  font-size: 70px;
  margin-bottom: 30px;
}
main .sect .contact .card-pc .after-flip .intro p {
  font-size: 24px;
  color: #ccc;
}
main .sect .contact .card-pc .after-flip .kakao {
  width: 40%;
  text-align: center;
}
main .sect .contact .card-pc .after-flip .kakao img {
  width: auto;
  height: 270px;
}
main .sect .contact .card-mobile {
  position: relative;
  width: 300px;
  height: 150px;
  cursor: url(../img/cursor/circle-cursor-pointer.png), auto;
  background-color: #626262;
}
@media screen and (min-width: 1024px) {
  main .sect .contact .card-mobile {
    display: none;
  }
}
main .sect .contact .card-mobile .after-flip {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
main .sect .contact .card-mobile .after-flip {
  padding: 20px;
}
main .sect .contact .card-mobile .after-flip .intro {
  width: 60%;
}
main .sect .contact .card-mobile .after-flip .intro p {
  font-size: 12px;
  color: #ccc;
}
main .sect .contact .card-mobile .after-flip .intro h4 {
  font-size: 30px;
}
main .sect .contact .card-mobile .after-flip .kakao {
  width: 40%;
  text-align: center;
}
main .sect .contact .card-mobile .after-flip .kakao img {
  width: 100%;
  height: 100px;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}
footer .copyright {
  width: 95%;
  padding: 10px 0;
  font-size: 0.8rem;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  footer .copyright {
    padding: 0;
    font-size: 1.1rem;
  }
}

.transition {
  transition: left 3s ease;
}

.added-style {
  background-color: black;
  color: white;
  letter-spacing: 0.3em;
  text-align: center;
}/*# sourceMappingURL=index.css.map */