@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../font/NotoSansKR-Black.woff);
}
@font-face {
  font-family: "BlackHanSans-Regular";
  src: url(../font/BlackHanSans-Regular.woff);
}
@font-face {
  font-family: "Jalnan";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../font/NotoSansKR-Black.woff);
}
@font-face {
  font-family: "BlackHanSans-Regular";
  src: url(../font/BlackHanSans-Regular.woff);
}
@font-face {
  font-family: "Jalnan";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.ttf") format("truetype");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "NotoSansKR-Black";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 4.38em;
}

h2 {
  font-size: 0;
}

h3 {
  font-family: "Jalnan";
  font-size: 3em;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

body {
  background-color: black;
  color: white;
  transition-duration: 0.8s;
}
body header {
  width: 100%;
}
body header .header {
  display: flex;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  body header .header {
    height: 0;
  }
}
body header .header .title-nav {
  position: fixed;
  top: 50px;
  width: 95%;
}
@media screen and (min-width: 1024px) {
  body header .header .title-nav {
    top: 25%;
    left: calc(2.5% + 3rem);
    height: 0;
  }
}
body header .header .title-nav h1 {
  font-size: 0;
}
body header .header .title-nav nav {
  position: relative;
}
body header .header .title-nav nav .gnb {
  display: flex;
  height: 40px;
  flex-direction: row;
  background-color: rgba(204, 204, 204, 0.4392156863);
  line-height: 40px;
}
@media screen and (min-width: 1024px) {
  body header .header .title-nav nav .gnb {
    width: 150px;
    flex-direction: column;
    background-color: transparent;
  }
}
body header .header .title-nav nav .gnb li {
  width: 25%;
}
body header .header .title-nav nav .gnb li a {
  width: 100%;
  font-family: "Jalnan";
  text-align: center;
}
@media screen and (min-width: 1024px) {
  body header .header .title-nav nav .gnb li a {
    text-align: left;
  }
}
body main {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  body main {
    height: 100vh;
  }
}
body main .sect {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
body main .sect .container {
  position: relative;
  width: 95%;
  height: 90%;
  padding: 1rem;
  border: 0.1px solid #ccc;
}
@media screen and (min-width: 1024px) {
  body main .sect .container {
    padding: 3rem;
  }
}
body main .sect .container .subTitle {
  margin-bottom: 160px;
}
@media screen and (min-width: 1024px) {
  body main .sect .container .subTitle {
    margin-bottom: 0;
  }
}
body main .sect .home {
  position: relative;
}
body main .sect .home .turnColor {
  display: flex;
  position: absolute;
  top: -35px;
  right: 0;
  align-items: center;
  justify-content: center;
}
body main .sect .home .turnColor .square {
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid white;
  cursor: pointer;
}
body main .sect .home .turnColor .square.light {
  background-color: black;
}
body main .sect .home .turnColor .square.dark {
  background-color: white;
}
body main .sect .home .turnColor .para {
  padding: 0.5rem;
  font-family: "Jalnan";
  cursor: pointer;
}
body main .sect .home .introduce {
  width: 100%;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  body main .sect .home .introduce {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3rem;
  }
}
body main .sect .home .introduce h4 {
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  body main .sect .home .introduce h4 {
    font-size: 3rem;
  }
}
body main .sect .home .introduce p {
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  body main .sect .home .introduce p {
    font-size: 1.3rem;
  }
}
body main .sect .home .introduce .mobIntro {
  display: block;
}
@media screen and (min-width: 768px) {
  body main .sect .home .introduce .mobIntro {
    display: none;
  }
}
body main .sect .home .introduce .pcIntro {
  display: none;
}
@media screen and (min-width: 768px) {
  body main .sect .home .introduce .pcIntro {
    display: block;
  }
}
body main .sect .home .introduce .big {
  font-size: 2.5rem;
}
@media screen and (min-width: 1024px) {
  body main .sect .home .introduce .big {
    font-size: 4rem;
  }
}
body main .sect .about {
  position: relative;
}
body main .sect .about .slide-para {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  body main .sect .about .slide-para {
    flex-direction: row;
  }
}
body main .sect .about .slide-para .slidewrapper {
  position: relative;
  width: 200px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  order: 2;
  line-height: 3;
}
@media screen and (min-width: 1024px) {
  body main .sect .about .slide-para .slidewrapper {
    width: 800px;
    height: 600px;
    order: 1;
  }
}
body main .sect .about .slide-para .slidewrapper .slides {
  display: flex;
  position: absolute;
  width: 3000px;
  height: 100%;
  transition: all 0.5s;
}
@media screen and (min-width: 1024px) {
  body main .sect .about .slide-para .slidewrapper .slides {
    width: 16000px;
  }
}
body main .sect .about .slide-para .slidewrapper .slides .slideCont {
  width: 200px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  body main .sect .about .slide-para .slidewrapper .slides .slideCont {
    width: 800px;
  }
}
body main .sect .about .slide-para .slidewrapper .slides .slideCont h4 {
  font-size: 24px;
}
@media screen and (min-width: 1024px) {
  body main .sect .about .slide-para .slidewrapper .slides .slideCont h4 {
    font-size: 40px;
  }
}
body main .sect .about .slide-para .slidewrapper .slides .slideCont img {
  width: 200px;
  margin: 20px 0;
}
@media screen and (min-width: 1024px) {
  body main .sect .about .slide-para .slidewrapper .slides .slideCont img {
    width: 250px;
    margin: 30px 0;
  }
}
body main .sect .about .slide-para .slidewrapper .slides .slideCont p {
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  body main .sect .about .slide-para .slidewrapper .slides .slideCont p {
    width: 400px;
    font-size: 16px;
    background-color: #626262;
    margin-left: 200px;
  }
}
body main .sect .about .slide-para .para {
  order: 1;
}
@media screen and (min-width: 1024px) {
  body main .sect .about .slide-para .para {
    width: 40%;
  }
}
body main .sect .about .slide-para .para h4,
body main .sect .about .slide-para .para p {
  margin-bottom: 30px;
}
body main .sect .about .slide-para .para p {
  font-size: 14px;
  line-height: 3;
}
@media screen and (min-width: 1024px) {
  body main .sect .about .slide-para .para p {
    font-size: 16px;
    line-height: 2;
  }
}
body main .sect .about .slide-para .para p .skill {
  cursor: pointer;
}
body main .sect .about .slide-para .para .blue {
  color: #47a3d2;
}
body main .sect .about .slide-para .para .yellow {
  color: #fbc22b;
}
body main .sect .about .slide-para .para .green {
  color: #8ce33e;
}
body main .sect .project {
  position: relative;
}
body main .sect .contact {
  position: relative;
  height: 600px;
}
@media screen and (min-width: 1024px) {
  body main .sect .contact {
    height: 90%;
  }
}
body main .sect .contact .conta {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  body main .sect .contact .conta {
    width: 100%;
  }
}
body main .sect .contact .card-pc {
  display: none;
}
@media screen and (min-width: 1024px) {
  body main .sect .contact .card-pc {
    display: block;
    position: relative;
    width: 700px;
    height: 350px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    perspective: 1000px;
    background-color: #626262;
  }
}
body main .sect .contact .card-pc .before-flip,
body main .sect .contact .card-pc .after-flip {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
body main .sect .contact .card-pc .before-flip h4 {
  font-size: 80px;
}
body main .sect .contact .card-pc .after-flip {
  padding: 35px;
  transform: rotateY(180deg);
}
body main .sect .contact .card-pc .after-flip .intro {
  width: 60%;
}
body main .sect .contact .card-pc .after-flip .intro h4 {
  font-size: 70px;
  margin-bottom: 30px;
}
body main .sect .contact .card-pc .after-flip .intro p {
  font-size: 24px;
  color: #ccc;
}
body main .sect .contact .card-pc .after-flip .kakao {
  width: 40%;
  text-align: center;
}
body main .sect .contact .card-pc .after-flip .kakao img {
  width: auto;
  height: 270px;
}
body main .sect .contact .card-mobile {
  position: relative;
  width: 300px;
  height: 150px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  perspective: 1000px;
  background-color: #626262;
}
@media screen and (min-width: 1024px) {
  body main .sect .contact .card-mobile {
    display: none;
  }
}
body main .sect .contact .card-mobile .before-flip,
body main .sect .contact .card-mobile .after-flip {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
body main .sect .contact .card-mobile .before-flip .touch h4 {
  font-size: 40px;
}
body main .sect .contact .card-mobile .after-flip {
  padding: 20px;
  transform: rotateY(180deg);
}
body main .sect .contact .card-mobile .after-flip .intro {
  width: 60%;
}
body main .sect .contact .card-mobile .after-flip .intro p {
  font-size: 12px;
  color: #ccc;
}
body main .sect .contact .card-mobile .after-flip .intro h4 {
  font-size: 30px;
}
body main .sect .contact .card-mobile .after-flip .kakao {
  width: 40%;
  text-align: center;
}
body main .sect .contact .card-mobile .after-flip .kakao img {
  width: 100%;
  height: 100px;
}
body footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
body footer .copyright {
  width: 95%;
  padding: 10px 0;
  font-size: 0.8rem;
  text-align: right;
}

.transition {
  transition: all 1s ease;
}/*# sourceMappingURL=index.css.map */