@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../font/NotoSansKR-Black.woff);
}
@font-face {
  font-family: "BlackHanSans-Regular";
  src: url(../font/BlackHanSans-Regular.woff);
}
@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../font/NotoSansKR-Black.woff);
}
@font-face {
  font-family: "BlackHanSans-Regular";
  src: url(../font/BlackHanSans-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "NotoSansKR-Black";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}
a:hover {
  font-weight: 600;
}

h1 {
  font-size: 4.38em;
}

h2 {
  font-size: 0;
}

h3 {
  color: white;
  font-family: "BlackHanSans-Regular";
  font-size: 2.25em;
}

h4 {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

body {
  background-color: black;
  color: white;
  transition-duration: 0.8s;
}
body header {
  width: 100%;
}
body header .header {
  display: flex;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  body header .header {
    height: 0;
  }
}
body header .header .title-nav {
  position: fixed;
  top: 50px;
  width: 95%;
}
body header .header .title-nav h1 {
  font-size: 0;
}
body header .header .title-nav nav {
  width: 100%;
}
body header .header .title-nav nav .gnb {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  background-color: rgba(204, 204, 204, 0.4392156863);
  line-height: 40px;
}
body header .header .title-nav nav .gnb li {
  width: 25%;
}
body header .header .title-nav nav .gnb li a {
  width: 100%;
  text-align: center;
  font-family: "BlackHanSans-Regular";
}
body main {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  body main {
    height: 100vh;
  }
}
body main .sect {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
body main .sect .container {
  position: relative;
  width: 95%;
  height: 90%;
  padding: 1rem;
  border: 0.1px solid #ccc;
}
body main .sect .container .subTitle {
  margin-bottom: 160px;
}
body main .sect .home {
  position: relative;
}
body main .sect .home .turnColor {
  display: flex;
  position: absolute;
  top: -30px;
  right: 0;
  align-items: center;
}
body main .sect .home .turnColor .square {
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid white;
  cursor: pointer;
}
body main .sect .home .turnColor .square.light {
  background-color: black;
}
body main .sect .home .turnColor .square.dark {
  background-color: white;
}
body main .sect .home .turnColor .para {
  padding: 0.5rem;
  font-family: "BlackHanSans-Regular";
  cursor: pointer;
}
body main .sect .home .introduce {
  white-space: normal;
  text-align: right;
}
body main .sect .home .introduce h4,
body main .sect .home .introduce p {
  margin-bottom: 30px;
}
body main .sect .home .introduce .big {
  font-size: 2.5rem;
}
body main .sect .about {
  position: relative;
}
body main .sect .about .slide-para {
  display: flex;
  width: 100%;
  flex-direction: column;
}
body main .sect .about .slide-para .para h4,
body main .sect .about .slide-para .para p {
  margin-bottom: 30px;
}
body main .sect .about .slide-para .para p {
  font-size: 14px;
}
body main .sect .about .slide-para .para .blue {
  color: #47a3d2;
}
body main .sect .about .slide-para .para .yellow {
  color: #fbc22b;
}
body main .sect .about .slide-para .para .green {
  color: #8ce33e;
}
body main .sect .project {
  position: relative;
}
body main .sect .contact {
  position: relative;
  height: 600px;
}
body main .sect .contact .card-pc {
  display: none;
}
body main .sect .contact .conta {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .sect .contact .conta .card {
  position: relative;
  width: 300px;
  height: 150px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  perspective: 1000px;
  background-color: #626262;
}
body main .sect .contact .conta .card .before-flip,
body main .sect .contact .conta .card .after-flip {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
body main .sect .contact .conta .card .before-flip .touch h4 {
  font-size: 40px;
}
body main .sect .contact .conta .card .after-flip {
  transform: rotateY(180deg);
  padding: 20px;
}
body main .sect .contact .conta .card .after-flip .intro {
  width: 60%;
}
body main .sect .contact .conta .card .after-flip .intro p {
  font-size: 12px;
  color: #ccc;
}
body main .sect .contact .conta .card .after-flip .intro h4 {
  font-size: 30px;
}
body main .sect .contact .conta .card .after-flip .kakao {
  width: 40%;
  text-align: center;
}
body main .sect .contact .conta .card .after-flip .kakao img {
  width: 100%;
  height: 100px;
}/*# sourceMappingURL=index.css.map */