@import "./style.scss";
@import "./common.scss";
@import "./mixin.scss";

// body {
//   background-color: $color-main;
//   color: $color-sub;
//   transition-duration: 0.8s;
//   // overflow: hidden;

//   header,
//   main,
//   footer {
//     height: 100%;
//   }

//   header {
//     height: 0;
//     .header {
//       // width: 100%;
//       position: relative;

//       .title-nav {
//         position: fixed;
//         top: calc(5%);
//         left: calc(2.5% + 1rem);
//       }
//     }
//   }

//   .sect {
//     // background-color: white;
//     display: flex;
//     width: 100%;
//     height: 100%;
//     justify-content: center;
//     align-items: center;
//   }

//   .container {
//     position: relative;
//     width: 95%;
//     height: 90%;
//     // margin: auto;
//     padding: 1rem;
//     // background-color: aqua;
//     border: 0.1px solid #ccc;

//     h1 {
//       font-size: 70px;
//       font-weight: 600;
//     }
//   }
// }

@include responsive(pc-screens) {
}

body {
  background-color: $color-main;
  color: $color-sub;
  transition-duration: 0.8s;

  header {
    width: 100%;

    .header {
      display: flex;
      position: relative;
      z-index: 100;
      width: 100%;
      height: 120px;
      align-items: center;
      justify-content: center;

      @include responsive(pc-screens) {
        height: 0;
      }

      .title-nav {
        position: fixed;
        // flex-direction: column;
        top: 50px;
        width: 95%;

        // top: calc(5%);
        // left: calc(2.5% + 1rem);

        h1 {
          font-size: 0;
        }

        nav {
          width: 100%;
          .gnb {
            display: flex;
            width: 100%;
            height: 40px;
            flex-direction: row;
            // border: 1px solid #ccc;
            background-color: #cccccc70;
            line-height: 40px;

            // transition: all 0.5s linear;

            // &:hover {
            //   background-color: #cccccc50;
            // }

            li {
              width: 25%;

              a {
                width: 100%;
                text-align: center;
                font-family: $font-sub;
              }
            }
          }
        }
      }
    }
  }

  main {
    width: 100%;
    height: 100%;
    @include responsive(pc-screens) {
      height: 100vh;
    }

    .sect {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      .container {
        position: relative;
        width: 95%;
        height: 90%;
        // margin: auto;
        padding: 1rem;
        // background-color: aqua;
        border: 0.1px solid #ccc;

        .subTitle {
          margin-bottom: 160px;
        }
      }

      .home {
        position: relative;
        .turnColor {
          display: flex;
          position: absolute;
          top: -30px;
          right: 0;
          align-items: center;

          .square {
            width: 0.8rem;
            height: 0.8rem;
            border: 2px solid $color-sub;
            cursor: pointer;
          }

          .square.light {
            background-color: $color-main;
          }

          .square.dark {
            background-color: $color-sub;
          }

          .para {
            padding: 0.5rem;
            font-family: $font-sub;
            cursor: pointer;
          }
        }

        .introduce {
          white-space: normal;
          // width: 70%;
          text-align: right;

          h4,
          p {
            margin-bottom: 30px;
          }

          .big {
            font-size: 2.5rem;
          }
        }
      }

      .about {
        position: relative;

        .slide-para {
          display: flex;
          width: 100%;
          flex-direction: column;
          overflow: hidden;

          .slides {
            // background-color: #626262;
            display: flex;
            width: 4000px;
            height: 500px;
            order: 2;
            position: relative;
            transition: transform 0.5s;

            .slideCont {
              width: 300px;
              margin: 2rem;
              text-align: center;

              h4 {
                font-size: 30px;
              }

              img {
                width: 250px;
                margin: 20px 0;
              }

              p {
                display: block;
                width: 100%;
              }
            }
          }

          .para {
            h4,
            p {
              margin-bottom: 30px;
            }

            p {
              font-size: 14px;
            }

            .blue {
              color: $color-font-blue;
            }

            .yellow {
              color: $color-font-yellow;
            }

            .green {
              color: $color-font-green;
            }
          }
        }
      }

      .project {
        position: relative;
      }

      .contact {
        position: relative;
        height: 600px;
        // background-color: #ccc;

        .card-pc {
          display: none;
        }

        .conta {
          display: flex;
          justify-content: center;
          align-items: center;

          // margin-bottom: 320px;

          .card {
            position: relative;
            width: 300px;
            height: 150px;
            transition: transform 1s;
            transform-style: preserve-3d;
            cursor: pointer;
            perspective: 1000px;
            background-color: #626262;

            .before-flip,
            .after-flip {
              display: flex;
              position: absolute;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-items: center;
              backface-visibility: hidden;
            }

            .before-flip {
              .touch {
                h4 {
                  font-size: 40px;
                }
              }
            }

            .after-flip {
              padding: 20px;
              transform: rotateY(180deg);

              .intro {
                width: 60%;

                p {
                  font-size: 12px;
                  color: #ccc;
                }

                h4 {
                  font-size: 30px;
                }
              }

              .kakao {
                width: 40%;
                text-align: center;

                img {
                  width: 100%;
                  height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .copyright {
      width: 95%;
      padding: 10px 0;
      font-size: 0.8rem;
      text-align: right;
    }
  }
}
