@import "./style.scss";
@import "./common.scss";
@import "./mixin.scss";

@include responsive(pc-screens) {
}

body {
  position: relative;
  background-color: $color-main;
  color: $color-sub;

  // background-color: #e5e5e5;
  // color: $color-main;
  transition-duration: 0.8s;

  header {
    width: 100%;

    .header {
      display: flex;
      position: relative;
      z-index: 100;
      width: 100%;
      height: 120px;
      align-items: center;
      justify-content: center;

      @include responsive(pc-screens) {
        height: 0;
      }

      .title-nav {
        position: fixed;
        top: 50px;
        width: 95%;

        // flex-direction: column;

        @include responsive(pc-screens) {
          top: calc(25%);
          left: calc(2.5% + 3rem);
          height: 0;
        }

        h1 {
          font-size: 0;
        }

        nav {
          position: relative;

          .gnb {
            display: flex;
            // width: 100%;
            height: 40px;
            flex-direction: row;
            background-color: #cccccc70;
            line-height: 40px;

            // transition: all 0.5s linear;

            // &:hover {
            //   background-color: #cccccc50;
            // }

            @include responsive(pc-screens) {
              width: 150px;
              flex-direction: column;
              background-color: transparent;
            }

            li {
              width: 25%;

              a {
                width: 100%;
                font-family: $font-sub;
                text-align: center;

                @include responsive(pc-screens) {
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

  main {
    width: 100%;
    height: 100%;

    .sect {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      @include responsive(pc-screens) {
        height: 100vh;
      }

      .container {
        position: relative;
        width: 95%;
        height: 90%;
        // margin: auto;
        padding: 1rem;
        // background-color: aqua;
        border: 0.1px solid #ccc;

        @include responsive(pc-screens) {
          padding: 3rem;
        }

        .subTitle {
          margin-bottom: 160px;

          @include responsive(pc-screens) {
            margin-bottom: 0;
          }
        }
      }

      .home {
        position: relative;
        .turnColor {
          display: flex;
          position: absolute;
          top: -35px;
          right: 0;
          align-items: center;
          justify-content: center;

          .square {
            width: 0.8rem;
            height: 0.8rem;
            border: 2px solid $color-sub;
            cursor: pointer;
          }

          .square.light {
            background-color: $color-main;
          }

          .square.dark {
            background-color: $color-sub;
          }

          .para {
            padding: 0.5rem;
            font-family: $font-sub;
            cursor: pointer;
          }
        }

        .introduce {
          // white-space: normal;
          width: 100%;

          text-align: right;
          @include responsive(pc-screens) {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 3rem;
          }

          h4 {
            margin-bottom: 30px;

            @include responsive(pc-screens) {
              font-size: 3rem;
            }
          }

          p {
            margin-bottom: 30px;

            @include responsive(pc-screens) {
              font-size: 1.3rem;
            }
          }

          .mobIntro {
            display: block;

            @include responsive(tablet-screens) {
              display: none;
            }
          }

          .pcIntro {
            display: none;

            @include responsive(tablet-screens) {
              display: block;
            }
          }

          .big {
            font-size: 2.5rem;

            @include responsive(pc-screens) {
              font-size: 4rem;
            }
          }
        }
      }

      .about {
        position: relative;

        .slide-para {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          @include responsive(pc-screens) {
            flex-direction: row;
          }

          .slidewrapper {
            position: relative;
            width: 200px;
            height: 400px;
            margin: 0 auto;
            overflow: hidden;
            order: 2;
            line-height: 3;

            @include responsive(pc-screens) {
              width: 800px;
              height: 600px;
              order: 1;
            }

            .move-box {
              display: flex;
              position: absolute;
              left: 0;
              width: 800px;
              height: 600px;
              flex-wrap: nowrap;

              .slides {
                display: flex;
                width: fit-content;

                // background-color: aqua;

                // @include responsive(pc-screens) {
                //   width: 16000px;
                // }

                .slideCont {
                  // width: 200px;
                  text-align: center;
                  // width: 100%;

                  // background-color: red;

                  @include responsive(pc-screens) {
                  }
                  h4 {
                    font-size: 24px;

                    @include responsive(pc-screens) {
                      font-size: 40px;
                    }
                  }

                  .slideImg {
                    width: 200px;

                    // background-color: #626262;

                    @include responsive(pc-screens) {
                      width: 800px;
                    }

                    img {
                      width: 200px;
                      margin: 20px 0;

                      @include responsive(pc-screens) {
                        width: 300px;
                        margin: 30px 0;
                      }
                    }
                  }

                  p {
                    font-size: 14px;

                    @include responsive(pc-screens) {
                      // width: 400px;
                      font-size: 16px;
                      // background-color: green;
                      // margin-left: 200px;
                    }
                  }
                }
              }
            }
          }

          .para {
            order: 1;

            @include responsive(pc-screens) {
              width: 40%;
              // height: 700px;
            }

            // background-color: #ccc;

            h4,
            p {
              margin-bottom: 30px;
            }

            p {
              font-size: 14px;

              line-height: 3;

              @include responsive(pc-screens) {
                font-size: 16px;
                line-height: 2;
              }

              .skill {
                cursor: pointer;
              }
            }

            .blue {
              color: $color-font-blue;
            }

            .yellow {
              color: $color-font-yellow;
            }

            .green {
              color: $color-font-green;
            }
          }
        }
      }

      .project {
        position: relative;

        #mainPoint {
          position: absolute;
          top: 90%;
          left: 50%;
          z-index: 3;
          width: 30px;
          height: 30px;
          transform: translate(-50%, -50%);
          border-radius: 30px;
          background-color: white;
          cursor: pointer;
        }

        #wrap {
          position: relative;
          width: 1200px;
          height: 600px;
          // border: 1px solid #ccc;
          margin: 5% auto 0;

          .point {
            display: flex;
            /* Styles for the point */
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: white;
            transition: transform 0.2s ease;
            color: black;
            font-family: $font-sub;
            // font-size: 20px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

          .point:hover {
            transform: scale(1.2);
            z-index: 100;
          }
        }
      }

      .contact {
        position: relative;
        height: 600px;
        // background-color: #ccc;

        @include responsive(pc-screens) {
          height: 90%;
        }

        .conta {
          display: flex;
          position: absolute;
          top: 50%;
          left: 50%;
          justify-content: center;
          align-items: center;
          transform: translate(-50%, -50%);

          @include responsive(pc-screens) {
            // height: 100%;
            width: 100%;
          }
        }

        .card-pc {
          display: none;

          @include responsive(pc-screens) {
            display: block;
            position: relative;
            width: 700px;
            height: 350px;
            transition: transform 1s;
            transform-style: preserve-3d;
            cursor: pointer;
            perspective: 1000px;
            background-color: #626262;
          }

          .before-flip,
          .after-flip {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
          }

          .before-flip {
            h4 {
              font-size: 80px;
            }
          }

          .after-flip {
            padding: 35px;
            transform: rotateY(180deg);

            .intro {
              width: 60%;

              h4 {
                font-size: 70px;
                margin-bottom: 30px;
              }

              p {
                font-size: 24px;
                color: #ccc;
              }
            }

            .kakao {
              width: 40%;
              text-align: center;

              img {
                width: auto;
                height: 270px;
              }
            }
          }
        }

        .card-mobile {
          position: relative;
          width: 300px;
          height: 150px;
          transition: transform 1s;
          transform-style: preserve-3d;
          cursor: pointer;
          perspective: 1000px;
          background-color: #626262;

          @include responsive(pc-screens) {
            display: none;
          }

          .before-flip,
          .after-flip {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
          }

          .before-flip {
            .touch {
              h4 {
                font-size: 40px;
              }
            }
          }

          .after-flip {
            padding: 20px;
            transform: rotateY(180deg);

            .intro {
              width: 60%;

              p {
                font-size: 12px;
                color: #ccc;
              }

              h4 {
                font-size: 30px;
              }
            }

            .kakao {
              width: 40%;
              text-align: center;

              img {
                width: 100%;
                height: 100px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @include responsive(pc-screens) {
      position: absolute;
      bottom: 0;
    }

    .copyright {
      width: 95%;
      padding: 10px 0;
      font-size: 0.8rem;
      text-align: right;

      @include responsive(pc-screens) {
        padding: 0;
        font-size: 1.1rem;
      }
    }
  }
}

.transition {
  transition: left 3s ease;
}
