@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../font/NotoSansKR-Black.woff);
}

@font-face {
  font-family: "BlackHanSans-Regular";
  src: url(../font/BlackHanSans-Regular.woff);
}

$font-main: "NotoSansKR-Black";
$font-sub: "BlackHanSans-Regular";

$color-main: black;
$color-sub: white;
$color-font-blue: #47a3d2;
$color-font-yellow: #fbc22b;
$color-font-green: #8ce33e;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;
$break-large-pc: 1440px;
