@font-face {
  font-family: "NotoSansKR-Black";
  src: url(../font/NotoSansKR-Black.woff);
}

@font-face {
  font-family: "BlackHanSans-Regular";
  src: url(../font/BlackHanSans-Regular.woff);
}

@font-face {
  font-family: "Jalnan";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/goodchoice/Jalnan.ttf") format("truetype");
  font-display: swap;
}

$font-main: "Jalnan";
$font-sub: "Jalnan";

$color-main: black;
$color-sub: white;
$color-font-blue: #47a3d2;
$color-font-yellow: #fbc22b;
$color-font-green: #8ce33e;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;
$break-large-pc: 1440px;
